ul {
    font-size: 32px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
}

li {
    float: left;
}

li a {
    color: #666;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: cyan
    display: block;
    color: hotpink;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}