<!DOCTYPE html>
<html >

  <head>
    <meta charset="UTF-8">
    <title>Museum Management Login form</title>
        <link rel="stylesheet" href="css/style.css">   
  </head>

  <body>

    <div id="boxForm">
    <h2 id="title">Museum Management Login Form</h2>
    <form>
      <input class='text' type='email' name='mail' placeholder='Username' required>
      <br>
      <input class='text' type='password' placeholder='Password' required>
      <br><br>
      <input type="radio" name="Admin" value="Admin" checked> Admin
  	  <input type="radio" name="Employee" value="Employee"> Employee
  	  <input type="radio" name="Artist" value="Artist"> Artist<br>
  	  <input class='button' type='submit' value='Let me in'><br>
  	  <input id='rememberMe' name='rememberMe' type='checkbox'> <label>Remember me</label>
      <br>
     </form>
    
  </body>

</html>
