{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Artifact Registration</title>
      <link rel="stylesheet" href="{% static "css/style.css" %}" /> <!-- CSS -->
      </head>
<body background="{% static "images/background.jpg" %}">
	<center><h1> Hello {{Name}}, you are in Artifact registrattion </h1></center>
      <br><br><br>

         <center>
            <div>   
      <form  action="/artifact_reg/" method="POST">{% csrf_token %}
      <label class="label">Accession Number</label>
      <input type='number' required name='accessionnumber' value={{an}}>
      <br>
      <label class="label">Artist Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type='text' name='artist' value={{artist}}>
      <br>
      <label class="label">Department&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type='text' name='department' value={{department}}>
      <br>
      <label class="label">Title&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type='text' name='title' value={{title}}>
      <br>
      <label class="label">Date Acquired&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type='text' name='dateacquired' value={{date}}>
      <br>(YYYY-MM-DD)<br>
      <label class="label">Number of copies&nbsp;</label>
      <input type='number' name='numberofcopies' value={{noc}}>
      <br>
      <label class="label">Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type='text' name='description' value={{description}}>
      <br>
      <input name='submit' type='submit' value='Add Artifact'><br>
      </form>
            </div>
         </center>     

      <br><br>{{error}}

</body>
</html>



